version: "3.7"

services:
  trade7:
    container_name: trade7
    image: puyuantech/fof:latest
    network_mode: fof-swarm
    deploy:
      restart_policy:
        condition: any
    volumes:
      - ./shared/etc/trade7.json:/shared/etc/config.json
      - /data/fof_current/log/:/shared/log
      - /data/fof_current/key/:/shared/key
    command: >
      bash -c " gun env register --init --docker_container &&
                gun run tr -f trade7"

  trade8:
    container_name: trade8
    image: puyuantech/fof:latest
    network_mode: fof-swarm
    deploy:
      restart_policy:
        condition: any
    volumes:
      - ./shared/etc/trade8.json:/shared/etc/config.json
      - /data/fof_current/log/:/shared/log
      - /data/fof_current/key/:/shared/key
    command: >
      bash -c " gun env register --init --docker_container &&
                gun run tr -f trade8"

  trade9:
    container_name: trade9
    image: puyuantech/fof:latest
    network_mode: fof-swarm
    deploy:
      restart_policy:
        condition: any
    volumes:
      - ./shared/etc/trade9.json:/shared/etc/config.json
      - /data/fof_current/log/:/shared/log
      - /data/fof_current/key/:/shared/key
    command: >
      bash -c " gun env register --init --docker_container &&
                gun run tr -f trade9"
